@{
    ViewData["Title"] = "Create";
}
 
<h2>Create</h2>
 
<form action="/home/AddHost" method="post">
    <label for="ProtocolDesc">ProtocolDesc</label>
    <input type="text" name="ProtocolDesc" value="http://" />
 
 <label for="DomainDesc">DomainDesc</label>
    <input type="text" name="DomainDesc" value="10.1.1.1" />

    <label for="PortDesc">PortDesc</label>
    <input type="text" name="PortDesc" value="8080" />
    
    <input type="submit" name="submit" />
</form>