@model HostViewModel
<h2>Ping: @Model.Ping</h2>
<h2>Port: @Model.Port</h2>
<h2>Information: @Model.InfoStatus</h1>
@foreach(var item in Model.InfoList)
{
  <p>@item.Name : @item.Value</p>
}
<h2>Interface Infromation: @Model.InterfaceInfoStatus</h1>
@foreach(var item in Model.InterfaceInfoList)
{
  <b><p>Adapter Description: @item.AdapterDescription</p></b>
  <p>Interface Type: @item.InterfaceType</p>
  <p>IP Addresses:
  @foreach(var ipadd in item.IPAddresses)
  {
    <br>@ipadd
  }
  </p>
  <p>Physical Address: @item.PhysicalAddress</p>
}