﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hosts:</h1>
</div>


@model List<HostViewModel>
  @for (int i = 0; i < Model.Count; i++)
{
  <p>|@Model[i].DomainDesc| |Ping: @Model[i].Ping| |Port: @Model[i].Port| <a asp-controller="Home" asp-action="Host" asp-route-id="@i">
    |Details|
</a>
<a asp-controller="Home" asp-action="HostRemove" asp-route-id="@i">
    |Remove|
</a></p>
}

<p>|<a asp-controller="Home" asp-action="AddHost">Add New Host</a>|---|<a asp-controller="Home" asp-action="UpdateData">Refresh All Hosts</a>|</p>

@* @model HostViewModel
<h2>Ping: @Model.Ping</h2>
<h2>Port: @Model.Port</h2>
<h2>Information: @Model.InfoStatus</h1>
@foreach(var item in Model.InfoList)
{
  <p>@item.Name : @item.Value</p>
}
<h2>Interface Infromation: @Model.InterfaceInfoStatus</h1>
@foreach(var item in Model.InterfaceInfoList)
{
  <b><p>Adapter Description: @item.AdapterDescription</p></b>
  <p>Interface Type: @item.InterfaceType</p>
  <p>IP Addresses:
  @foreach(var ipadd in item.IPAddresses)
  {
    <br>@ipadd
  }
  </p>
  <p>Physical Address: @item.PhysicalAddress</p>
} *@